

.articlesSection {
  background-color: yellow;
  position: relative;
  padding: 5vh;
  margin-right: 3vh;
  margin-left: 5vh;
  max-height: 90%;
  overflow: hidden;
}


.cardBody{
  width: 90%;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.articlesHolder{
  padding: 0vw .6vw;
  margin-top: 1vw;
}

.voteCount{
  display: flex;
  color: red;
  justify-content: flex-start;
  margin-right: 6vh;
}

.commentsAndVotes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.seperator {
  margin-right: 7vh;
  opacity: 0.6;
}

.upArrow{
  background-color: white;
  color: red;
  cursor: pointer;
}


.downArrow{
  background-color: white;
  color: red;
  cursor: pointer;
}

#hideButton {
  text-decoration: none !important;
}

.icons {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 5%;
  margin-right: 1vh;
}

.articleOwner {
  margin-left: 1vh;
}
