

.articlesSection {
  background-color: white;
  position: relative;
  padding: 5vh;
  margin-right: 1vw;
  margin-left: 1vw;
  max-height: 90%;
  overflow: hidden;
}

.card-header{
  height: 5vh;
}

.cardBody{
  max-width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

#articleHolder {
  width: 100%;
  margin-bottom: 2vw;
}
.articlesHolder{
  margin-left: 1vw;
  margin-right: 1vw;
  max-width: 100%;
  margin-top: 1vw;
}

.voteCount{
  display: flex;
  justify-content: flex-start;
  margin-right: 2vw;
}

.commentsAndVotes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.seperator {
  margin-right: 2vw;
  opacity: 0.6;
}

#upArrow{
  background-color: white;
  color: grey;
  cursor: pointer;
}


#downArrow{
  background-color: white;
  color: grey;
  cursor: pointer;
}

#hideButton {
  text-decoration: none !important;
}

.icons {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 5%;
  margin-left: 1vw;
  margin-right: 1vw;
}

.articleOwner {
  margin-left: 1vh;
}

