.homeDashButtons{
	display: flex;
  justify-content: center;
  max-height: 5%;
  width: 100%;
  background-color:transparent;
  margin-bottom: 1vh;
}

.homeBody{
    height: 100%;
}

.headers {
  background-color: hsl(0, 0%, 21%);
}

.hero-header {
  margin-left: 2vw;
  background-color: hsl(0, 0%, 21%);
  color: whitesmoke;
}

#headerPic{
  overflow: hidden;
}


#headerPictureContainer {
  margin-bottom: 0%;
  overflow: hidden;
  max-height: 30vh;
}

#topicFlare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 12vh;
  width: 20%;
  opacity: 0.9;
  background-color: hsl(0, 0%, 21%);
}

#headerIcon {
  color: white;
}

.homeDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  margin-top: 7.6vh;
  margin-bottom: 0%;
  padding: 0%;
}

.homeFooter {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0.1%;
  height: 5vh;
  width: 100%;
  background-color: hsl(0, 0%, 21%);
}

#articlesToggle{
  margin-bottom: 10vh;
}

#articlesToggle:hover {
  background-color: transparent;
}

#usersToggle:hover {
  background-color: transparent;
}