.singleArticleMain {
  height: 100%;
  margin-left: 2vw;
  margin-right: 2vw;
}

#articleContainer {
  /* margin-bottom: 5vh; */
  background-color: hsl(0, 0%, 21%)
}

.scrolling {
  height: 90vh;
  overflow-y: scroll;
}

.hero-head {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

.deleteButton {
  display: flex;
  justify-content: flex-start;
  margin-right: 3vw;
}

#delButton:hover {
  background-color: transparent;
}

#topicIcon {
  color: white;
}

#homeButton {
  margin-right: 1vw;
}

#articleInfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.5vh;
}

#articleBody {
  margin-left: 3vh;
  /* margin-top: 3vh; */
  margin-right: 3vh;
}

.articleTitle {
  margin-bottom: 2vh;
}

.articleText {
  margin-bottom: 2vh;
}

.voteCount{
  display: flex;
  color: white;
  justify-content: flex-start;
  margin-right: 6vh;
}

#commentsAndVotes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
}

#commentIcon {
  color: white;
}

.seperator {
  color: white;
  margin-right: 7vh;
  opacity: 0.6;
}

#upArrow{
  background-color: transparent;
  color: white;
  cursor: pointer;
}


#downArrow{
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.commentsMain{
  background-color: white;
  padding: 2%;
  overflow: hidden;
}

#eachComment {
  margin-bottom: 2vh;
  border-bottom: dotted 1px black;
}

.commentBody {
  margin-left: 1.5vh;
}

.commentFooter {
  display: flex;
  justify-content: flex-end;
}


#commentAdd {
  position: fixed;
  top: 92%;
  cursor: pointer;
  width: 96.5vw;
  left: 1.8%;
  background-color: white;
}


