img {
  color: transparent;
}

.topUsers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 65vh;
  padding: 0px;
}

.topUsersHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  height: 6vh;
  background-color: hsl(0, 0%, 21%)
}

.topUser {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 7vh;
  background: rgb(255,255,255);
}

.topUsersContent{
  max-height: 100%;
  background-color: hsl(0, 0%, 21%);
}

