#userMain {
  height: 100%;
}

#userTop{
  height: 27%;
  background-color:hsl(0, 0%, 21%)
}

#home {
  margin-left: 1vw;
}

img {
  color: transparent;
}

#userPageHero {
  display: flex;
  justify-content: center;
  background-color: white;
}

.profileImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
  margin-bottom: 2vh;
  margin-top: 13vh;
}

.profileImage{
  display: flex;
  justify-content: center;
}

#profileImage {
  size: 2%;
}

#userBody {
  position: relative;
  height: 75%;
  background-color: hsl(0, 0%, 21%);
}

#userInfo {
  margin-left: 1vw;
  margin-right: 1vw;
}

#userButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 3vh;
  margin-bottom: 0vh;
  background-color: white;
  padding-top: 10vh;
}

#articles {
  margin-left: 10%;
}

#articles:hover{
  background-color: transparent;
}

#comments {
margin-right: 10%;
}


#comments:hover{
  background-color: transparent;
}