#userMain {
  height: 100%;
}

#userTop{
  height: 27%;
  background-color:hsl(0, 0%, 21%)
}

#home {
  margin-left: 1vw;
}

img {
  color: transparent;
}

#homeButtonUser {
  margin-left: 4vw;
}

#userPageHero {
  display: flex;
  justify-content: center;
  margin-bottom: 30vh;
  background-color: white;
  background-color: hsl(0, 0%, 21%);

}

.profileImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* z-index: 2; */
  background-color: hsl(0, 0%, 21%);
}

.profileImage{
  display: flex;
  justify-content: center;
}



#userBody {
  position: relative;
  height: 70%;
  background-color: hsl(0, 0%, 21%);
  overflow: scroll;
}

#userInfo {
  margin-left: 5vw;
  margin-right: 1vw;
  max-width: 90%;
}

.userNameAndRep {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#userButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 1vh;
  margin-bottom: 0vh;
  background-color: white;
  /* padding-top: 10vh; */
}

#userCommentCards {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

#userCardBody {
  max-width: 90%;
}

#articles {
  margin-left: 10%;
}

#articles:hover{
  background-color: transparent;
}

#comments {
margin-right: 10%;
}

#comments:hover{
  background-color: transparent;
}
